* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}

.ui h1 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  width: 80%;
}

.ui button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* border: 0.2rem solid white; */
  border: none;
  border-radius: 3rem;
  padding: 1rem;
  background: black;
  font-size: 1.5em;
  transition: 0.25s;
  font-weight: 600;
}

/* .ui button img {
  width: 2.7rem;
  height: 2rem;
  filter: invert(0.5);
  filter: drop-shadow(0rem 0rem 0.09rem black);
} */

.ui #dropDownBtn {
  top: 2rem;
  left: 2rem;
  background: none;
  padding: 0rem;
  /* filter: invert(0); */
}

.ui #dropDownBtn:hover {
  background: none;
  /* filter: invert(1); */
}

.ui .drop {
  transition: 0.25s;
  /* transform: translateY(500%); */
  /* transform: rotate(180deg); */
}

.ui button:hover {
  background: white;
  color: black;
  /* border: 0.2rem solid black; */
}

/* .ui #dropDownBtn {
  display: block;
  background: black;
  z-index: 1;
  cursor: pointer;
}

#dropDownBtn .line1 {
  width: 2rem;
  height: 0.3rem;
}
#dropDownBtn .line2 {
  margin-top: 1rem;
  width: 2rem;
  height: 0.3rem;
}
#dropDownBtn .line3 {
  width: 2rem;
  height: 0.3rem;
} */

#burgerContainer {
  margin: 1rem;
  display: flex;
  position: absolute;
  cursor: pointer;
  /* width: 15rem;
  padding: 2rem;
  z-index: 1; */
}

/* .burgerTitle {
  display: flex;
  justify-content: center;
  cursor: auto;
  font-size: 1.2em;
  font-weight: 600;
  display: flex;
} */

.burger {
  display: block;
  z-index: 1;
  /* background: black;
  border-radius: 0.3rem; */
}

.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background: white;
  /* filter: drop-shadow(white 0px 0px 1px); */
  margin: 5px;
  transition: 0.1s;
}

.drop .line1,
.drop .line2,
.drop .line3 {
  background: black;
}

/* .drop .line1 {
  transform: rotateZ(45deg) translate(0%, 500%);
  background: rebeccapurple;
}

.drop .line2 {
  background: coral;
  opacity: 0;
}

.drop .line3 {
  transform: rotateZ(-45deg) translate(0%, 500%);
  background: crimson;
} */

/* #burgerContainer .line1,
#burgerContainer .line2,
#burgerContainer .line3 {
  background: white;
} */

.dropDown,
.dropDown:hover {
  z-index: 0;
  position: absolute;
  display: flex;
  background: black;
  width: 20rem;
  height: 100%;
  border-radius: 0rem 1rem 1rem 0rem;
  z-index: 0;
}

.dropDown .dropDownContainer {
  justify-content: center;
  width: 85%;
  margin: 0 auto 0 auto;
}

.dropDown .dropDownContainer button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: none;
}

.dropDownHolder {
  overflow-y: auto;
}

.dropDown li {
  list-style: none;
  display: block;
  color: white;
  background: black;
  padding: 1rem;
  text-align: center;
  transition: 0.25s;
  cursor: pointer;
  font-size: 2em;
  border-radius: 8rem;
  margin-top: 1rem;
}

.dropDown li:first-child {
  margin-top: 5rem;
}

/* .dropDown li:nth-last-child(0) {
  margin-bottom: 5rem;
} */

.dropDown li:hover {
  background: white;
  color: black;
}

.ui .drop {
  transition: 0.25s;
}

/* #colors {
  position: absolute;
  display: flex;
} */

#colorValue,
#prevColorText {
  position: absolute;
  display: flex;
  right: 0rem;
  margin: 1rem;
  direction: rtl;
  float: top;
}

#prevColorText {
  margin: 4rem 1rem 1rem 1rem;
}

#footer {
  position: absolute;
  display: flex;
  cursor: auto;
  letter-spacing: 0.3;
  border-radius: 0;
  margin: 1rem;
  bottom: 0;
  right: 0;
}

#selectCopyValue {
  color: white;
  background: black;
  padding: 0.2rem;
  font-size: 0.8em;
  border-radius: 0.5rem;
}

#valuePlaceholder {
  position: absolute;
  display: flex;
  left: -500%;
  opacity: 0;
}

#stars {
  display: flex;
  position: absolute;
  bottom: 2rem;
  margin: 1rem;
  right: 0rem;
  color: yellow;
  font-size: 3rem;
}

#viewSeenColors {
  background: rgba(128, 128, 128, 0.137);
}

#viewSeenColors:hover {
  color: black;
  background: white;
}

#viewColorsPageContainer {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100vw;
  background: white;
  z-index: 2;
}

#viewColorsPage {
  display: block;
}

#x {
  display: flex;
  margin: 1rem;
  font-size: 2rem;
}

.seenColors {
  display: block;
  width: 100vw;
  font-size: 4rem;
  overflow: visible;
}

.seenColors div {
  display: flex;
  justify-content: center;
}

.seenColorsLine {
  margin: auto;
  padding: 0.1rem;
  background: rgba(0, 0, 0, 0.25);
  width: 50vw;
}

.card {
  background: white;
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.25));
  background: rgba(255, 0, 0, 0.432);
  margin: 1rem;
}

.card p {
  background: white;
  width: 8rem;
  margin-top: 5rem;
  padding: 0.5rem;
  font-size: 1rem;
}

@media only screen and (max-width: 1400px) {
  .ui h1 {
    font-size: calc(4em);
  }
  .dropDown li {
    margin-top: 0.8rem;
    font-size: 1.6em;
    border-radius: 2rem;
  }
  #footer {
    display: flex;
    font-size: 2em;
  }
}

@media only screen and (max-width: 900px) {
  .ui h1 {
    margin-top: 1rem;
    font-size: calc(3em);
  }
  .dropDown li {
    margin-top: 0.8rem;
    font-size: 1.5em;
    border-radius: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .ui h1 {
    margin-top: 2rem;
    font-size: calc(2em);
  }
  .ui button {
    border-radius: 2rem;
    padding: 0.5rem;
  }
  .dropDown li {
    margin-top: 0.7rem;
    font-size: 1.5em;
    border-radius: 2rem;
  }
  /* #selectCopyValue {
    font-size: 0.6em;
  } */
  .dropDown,
  .dropDown:hover {
    width: 15rem;
  }
}
