* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

canvas {
  width: 100%;
  height: 100%;
}

.ui h1 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  width: 80%;
}

.ui button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* border: 0.2rem solid white; */
  border: none;
  border-radius: 3rem;
  padding: 1rem;
  background: black;
  font-size: 1.5em;
  transition: 0.25s;
  font-weight: 600;
}

.ui button.reset {
  top: 85%;
  padding: 1rem;
}

.ui button img {
  width: 2.7rem;
  height: 2rem;
  filter: invert(0.5);
  filter: drop-shadow(0rem 0rem 0.09rem black);
}
.ui #dropDownBtn {
  top: 2rem;
  left: 2rem;
  background: none;
  padding: 0rem;
  /* filter: invert(0); */
}

.ui #dropDownBtn:hover {
  background: none;
  /* filter: invert(1); */
}

.ui .drop {
  transition: 0.25s;
  transform: translateY(500%);
  /* transform: rotate(180deg); */
}

.ui button:hover {
  background: white;
  color: black;
  /* border: 0.2rem solid black; */
}

/* .ui #dropDownBtn {
  display: block;
  background: black;
  z-index: 1;
  cursor: pointer;
}

#dropDownBtn .line1 {
  width: 2rem;
  height: 0.3rem;
}
#dropDownBtn .line2 {
  margin-top: 1rem;
  width: 2rem;
  height: 0.3rem;
}
#dropDownBtn .line3 {
  width: 2rem;
  height: 0.3rem;
} */

#burgerContainer {
  margin: 1rem;
  display: flex;
  position: absolute;
  cursor: pointer;
}

.burger {
  display: block;
  z-index: 1;
}

.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}

.dropDown,
.dropDown:hover {
  z-index: 0;
  position: absolute;
  display: flex;
  background: black;
  width: 20rem;
  height: 100%;
  z-index: 0;
}

.ui .drop {
  transition: 0.25s;
  /* transform: translateY(500%); */
  /* transform: rotate(180deg); */
}
