::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-track {
  background: white;
  opacity: 0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-corner {
  background: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}

.copyStars {
  display: flex;
  position: ab;
  flex-direction: column;
  height: 10rem;
}

.ui h1 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  width: 80%;
}

.ui button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* border: 0.2rem solid white; */
  border: none;
  border-radius: 3rem;
  padding: 1rem;
  background: black;
  font-size: 1.5em;
  transition: 0.25s;
  font-weight: 600;
}

.ui #dropDownBtn {
  top: 2rem;
  left: 2rem;
  background: none;
  padding: 0rem;
  /* filter: invert(0); */
}

.ui #dropDownBtn:hover {
  background: none;
  /* filter: invert(1); */
}

.ui .drop {
  transition: 0.25s;
  /* transform: translateY(500%); */
  /* transform: rotate(180deg); */
}

.ui button:hover {
  background: white;
  color: black;
  /* border: 0.2rem solid black; */
}

#burgerContainer {
  margin: 1rem;
  display: flex;
  position: absolute;
  cursor: pointer;
  /* width: 15rem;
    padding: 2rem;
    z-index: 1; */
}

.burger {
  display: block;
  z-index: 3;
  /* background: black;
    border-radius: 0.3rem; */
}

.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background: white;
  /* filter: drop-shadow(white 0px 0px 1px); */
  margin: 5px;
  transition: 0.1s;
}

.drop .line1,
.drop .line2,
.drop .line3 {
  background: black;
}

/* .drop .line1 {
    transform: rotateZ(45deg) translate(0%, 500%);
    background: rebeccapurple;
  }
  
  .drop .line2 {
    background: coral;
    opacity: 0;
  }
  
  .drop .line3 {
    transform: rotateZ(-45deg) translate(0%, 500%);
    background: crimson;
  } */

/* #burgerContainer .line1,
  #burgerContainer .line2,
  #burgerContainer .line3 {
    background: white;
  } */

.dropDown,
.dropDown:hover {
  position: absolute;
  display: flex;
  background: black;
  width: 20rem;
  height: 100%;
  border-radius: 0rem 1rem 1rem 0rem;
  z-index: 1;
}

.dropDown .dropDownContainer {
  justify-content: center;
  width: 85%;
  margin: 0 auto 0 auto;
}

.dropDown .dropDownContainer button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: none;
}

.dropDownHolder {
  overflow-y: auto;
}

.dropDown li {
  list-style: none;
  display: block;
  color: white;
  background: black;
  padding: 1rem;
  text-align: center;
  transition: 0.25s;
  cursor: pointer;
  font-size: 2em;
  border-radius: 8rem;
  margin-top: 1rem;
}

.dropDown li:first-child {
  margin-top: 5rem;
}

.dropDown li:hover {
  background: white;
  color: black;
}

.ui .drop {
  transition: 0.25s;
}

#colorValue,
#prevColorText {
  position: absolute;
  display: flex;
  right: 0rem;
  margin: 1rem;
  direction: rtl;
  float: top;
}

#prevColorText {
  margin: 3rem 1rem 1rem 1rem;
}

#footer {
  position: absolute;
  display: flex;
  cursor: auto;
  letter-spacing: 0.3;
  border-radius: 0;
  margin: 1rem;
  bottom: 0;
  right: 0;
}

#copy {
  display: flex;
  position: absolute;
  bottom: 2rem;
  margin: 1rem;
  right: 4rem;
  color: rgba(0, 0, 0, 0.9);
  font-size: 3rem;
  transition: 0.1s;
}

#copy:hover {
  color: rgba(0, 0, 0, 1);
}

#selectCopyValue {
  color: white;
  background: black;
  padding: 0.2rem;
  font-size: 0.8em;
  border-radius: 0.5rem;
}

#valuePlaceholder {
  position: absolute;
  display: flex;
  left: -500%;
  opacity: 0;
}

#stars {
  display: flex;
  position: absolute;
  bottom: 2rem;
  margin: 1rem;
  right: 0rem;
  color: rgba(0, 0, 0, 0.9);
  font-size: 3rem;
}

#stars:hover {
  color: rgba(0, 0, 0, 1);
}

#selectCopyValueContainer {
  display: flex;
  position: absolute;
  margin: 1rem;
  bottom: 0rem;
  font-size: 1.7em;
  z-index: 0;
}

#selectCopyValueContainer select {
  margin-left: 0.3rem;
  z-index: inherit;
}

#viewSeenColors {
  background: rgba(255, 255, 255, 0.1);
}

#viewSeenColors:hover {
  color: black;
  background: white;
}

#viewColorsPageContainer {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100vw;
  background: white;
  z-index: 5;
}

#viewColorsPage {
  display: block;
}

#x {
  display: flex;
  position: fixed;
  margin: 1rem;
  font-size: 2rem;
  z-index: 11;
}

#subtitle1 {
  color: rgba(0, 0, 0, 0.75);
  /* filter: drop-shadow(0rem 0rem 0rem black); */
}

#subtitle1 i {
  display: block;
  height: auto;
  overflow: hidden;
}

#subtitle1 i:last-child {
  margin-top: 0.5rem;
}

#subtitle1 span {
  font-weight: 300;
  margin-left: 1rem;
  transition: 0.1s;
}

#subtitle1 span:hover {
  color: black;
}

#subtitle1 div {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.subtitle1Container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 2rem;
}

.seenColors,
.seenFavColors {
  display: block;
  width: 100vw;
  font-size: 4rem;
  margin-top: 5rem;
  overflow: visible;
  font-weight: 600;
}

.seenColors {
  margin-top: 3rem;
}

.seenColors div,
.seenFavColors div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto 1rem auto;
  max-width: 50vw;
  filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.2));
}

.seenColorsLine {
  margin: auto;
  padding: 0.1rem;
  background: rgba(0, 0, 0, 0.25);
  width: 50vw;
  border-radius: 5rem;
}

.card {
  color: black;
  background: white;
  border-radius: 1rem;
  /* filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.25)); */
  /* background: rgba(255, 0, 0, 0.432); */
  margin: 1rem;
}

.card p {
  color: black;
  filter: drop-shadow(0 0 0.05rem rgba(0, 0, 0, 0.25));
  background: white;
  width: 8rem;
  margin-top: 5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.nothingHere {
  filter: drop-shadow(0rem 0rem 0rem black);
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.cardCopyBtn {
  color: black;
}

#customAlert {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.25));
  bottom: 0rem;
  right: 0rem;
  margin: 1rem;
  z-index: 6;
  list-style: none;
  font-size: 1.3rem;
  pointer-events: none;
}

#customAlert li {
  font-weight: 600;
}

#customAlert span {
  margin-right: 1rem;
}

@media only screen and (max-width: 1400px) {
  .ui h1 {
    font-size: calc(4em);
  }
  .dropDown li {
    margin-top: 0.8rem;
    font-size: 1.6em;
    border-radius: 2rem;
  }
  #footer {
    display: flex;
    font-size: 1.2em;
  }
  #stars,
  #copy {
    margin: 1.4rem 1rem 2rem 2rem;
  }
  #copy {
    margin-right: 1.4rem;
  }
  .ui button {
    border-radius: 2rem;
    padding: 0.5rem;
    top: 80%;
  }
  #viewSeenColors {
    background: rgba(255, 255, 255, 0.2);
  }
}

@media only screen and (max-width: 900px) {
  .ui h1 {
    margin-top: 1rem;
    font-size: calc(3em);
  }
  .dropDown li {
    margin-top: 0.8rem;
    font-size: 1.5em;
    border-radius: 2rem;
  }
  .seenColors div,
  .seenFavColors div {
    max-width: 70vw;
  }
  .seenColorsLine {
    width: 70vw;
  }
  #stars,
  #copy {
    margin-bottom: 1rem;
  }
  #footer {
    display: flex;
    font-size: 1em;
    pointer-events: none;
  }
  #viewSeenColors {
    background: rgba(255, 255, 255, 0.3);
  }
}

@media only screen and (max-width: 425px) {
  .ui h1 {
    margin-top: 2rem;
    font-size: calc(2em);
  }
  .dropDown li {
    margin-top: 0.7rem;
    font-size: 1.5em;
    border-radius: 2rem;
  }
  #selectCopyValueContainer {
    font-size: 1.3em;
  }
  .dropDown,
  .dropDown:hover {
    width: 15rem;
  }
  .cardsTitle {
    font-size: 0.5em;
  }
  #selectCopyValueContainer span {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  #selectCopyValueContainer {
    display: flex;
    justify-content: center;
  }
  #stars,
  #copy {
    font-size: 1.9em;
    margin: auto auto 0.2rem 0.2rem;
  }
  #copy {
    margin-right: -0.8rem;
  }
  #selectCopyValueContainer {
    margin: 0;
    position: fixed;
    max-height: 3rem;
    font-size: 1.3em;
    padding: 0.2rem;
    /* margin: 1rem auto 4rem auto;
      font-size: 1.2em; */
  }
  .footerContainer,
  #footer {
    margin: auto;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 200px) {
  .cardsTitle {
    font-size: 0.3em;
  }
  #subtitle1 i,
  #subtitle1 span {
    font-size: 0.8em;
  }
  .dropDown li {
    margin-top: 0.5rem;
    font-size: 1.3em;
    border-radius: 1.7rem;
    width: 50%;
  }
}
